<article class="bg-gray-200 p-3 pb-6 my-2">
    <h2 id="about" class="text-red-700 text-2xl pt-4 font-bold mb-4">About</h2>
    <blockquote class="leading-7 max-w-prose">
        <p>The Desk to Defender Project is a collaborative social defense education effort, created for leftists who feel generally excluded from traditional defense media. Inside this project, we are creating media in every format to teach leftists how to partake in defense, both personal and communal. We discuss how to: use and maintain firearms, organize teams as a community leader, create emergency plans, prepare for disasters, as well as develop what we call the “Defender’s Mindset.”</p>
        <p>We mean to reach out to the ostracized, those cast aside and those who feel unsafe in communities that discuss similar topics. We aim to take back as much as we can from the xenophobic right-wing media, who has co-opted many of these topics and create environments shrouded in toxic masculinity and exclusion. We believe that community defense is a human right which everyone has a right to know and partake in. We want to make that happen.</p>
        <p>We hope to inspire all people; from those who are brand new to the concepts, to those who are well established members of such groups as the Socialist Rifle Association, FAFO, Redneck Revolt, Coalition of Armed Labor, Trigger Warning Queer & Trans Gun Club, and more. With this project, we hope to inspire and educated anyone concerned for their safety, bolster public defense, and to bring equity in and peace in resistance.</p>
        <footer class="font-bold">&mdash;The Desk to Defender Team</footer>
    </blockquote>
</article>