<article class="bg-gray-200 p-3 pb-6 my-2">
    <h2 id="home" class="text-red-700 text-2xl pt-4 font-bold">From Desk to Defender <span>v1.0</span></h2>
    <p>
        <time class="text-gray-700" datetime="2021-01-15">Published: Jan. 15th, 2021</time>
    </p>

    <figure class="mt-4">
        <figcaption class="leading-7 sm:grid sm:grid-cols-3 sm:gap-6">
            <a class="sm:col-span-1" href={{ 'assets/D2D_Manuscript_current.pdf' | url }} id="download" target="_new">
                <img class="my-4 sm:my-0 shadow-md" src={{ 'assets/D2D_Cover.jpg' | url}} alt="Download Desk to Defender manual" />
            </a>
            <div class="sm:col-span-2">
                <p>
                    <span class="drop-cap">P</span>reparing yourself for whatever may come is quite a daunting task when you get right down to it. It is a process of many months of training, and even the most highly trained special operations units in the world take casualties. In the face of logistical breakdowns, food shortages, civil unrest, outright invasion, or natural disasters, there are many things to consider, each one having its own sizable length and breadth.
                </p>
                <p>
                    It is the aim of this manual to give the reader some idea as to where to begin, as well as lay the foundations for growth. Using this manual, you will learn how to strengthen your mind and body, develop a survival mindset, maintain and utilize firearms, and work in a rigid team structure in order to survive in complex scenarios. You will learn basic survival techniques, how to strengthen your body without a gym, basic first aid, proper marksmanship practices, and many other useful tools.
                </p>
                <a class="block sm:inline-block mt-6 px-6 py-3 rounded-md text-center underline ring-red-400 ring-offset-2 bg-red-900 hover:bg-red-700 focus:bg-red-700 focus:ring-4 focus:outline-none text-white" href={{ 'assets/D2D_Manuscript_20210114.pdf' | url }} id="download" target="_new">Download the PDF</a>
            </div>
        </figcaption>
    </figure>

</article>
