<article class="bg-red-900 px-4 py-12 sm:text-center">
    <h2 class="text-red-100 text-2xl font-bold mb-4">Help support the project</h2>
    <p class="text-red-100 text-base">Offset costs and expand the project by supporting us on Patreon. <br /> Every dollar goes toward improving Desk to Defender.</p>
    <a class="block sm:inline-block rounded-md mt-8 text-center underline bg-gray-900 py-3 px-6 text-white" href="https://www.patreon.com/desktodefender" target="_new">Support us on Patreon</a>
</article>