<header>
  <div class="flex px-2 py-4 items-center">
    <img class="mr-2 h-12" src={{ '/assets/logo.svg'| url }} alt="Desk to Defender logo" />
    <div>
      <h1 class="block font-display font-bold text-lg" id="page-title" aria-describedby="page-teaser">From Desk to Defender</h1>
      <span class="block font-display text-xs leading-5" id="page-teaser">A leftist's guide to defensive principles</span>
    </div>
  </div>
  {% include "nav.njk" %}
</header>