<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/main.bundle.css">
    <script src="/assets/main.bundle.js" defer></script>
    <title>{{ title }} | From Desk to Defender</title>

    {#  Special thanks to: https://favicon.io/favicon-converter/ #}
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/assets/site.webmanifest">

    {% block head %}{% endblock %}
  </head>
  <body class="{{ 'debug-screens' if env.devMode }} container">
    {% include 'header.njk' %}
    <main class="py-8 px-4">
      {{ content | safe }}
    </main>
  </body>
</html>