<nav class="bg-gray-800 space-x-0 text-gray-100">
  <a class="inline-block p-4 ring-red-400 ring-offset-2 hover:bg-red-700 focus:bg-red-700 focus:ring-4 focus:outline-none {{ 'font-black bg-red-800' if page.url == '/' }}" href="/">Home</a>
  <a class="inline-block p-4 ring-red-400 ring-offset-2 hover:bg-red-700 focus:bg-red-700 focus:ring-4 focus:outline-none {{ 'font-black bg-red-800' if page.url == '/about/' }}" href="/about">About</a>
  <a class="inline-block p-4 ring-red-400 ring-offset-2 hover:bg-red-700 focus:bg-red-700 focus:ring-4 focus:outline-none {{ 'font-black bg-red-800' if page.url == '/contact/' }}" href="#">Contact</a>
</nav>