<nav class="bg-gray-800 space-x-0 text-gray-100 relative">
  {# <a class="nav-item {{ 'underline bg-red-900' if page.url == '/' }}" href="#download">Download</a> #}
  <a class="nav-item" href="#download">Download</a>
  <a class="nav-item" href="#about">About</a>
  <a class="nav-item" href="#contact">Contact</a>
  <a class="nav-item bg-red-900 absolute right-0" href="https://www.patreon.com/desktodefender" target="_new">Support Us</a>
</nav>