<nav class="bg-gray-800 space-x-0 text-gray-100">
  <a class="nav-item {{ 'underline bg-red-900' if page.url == '/' }}" href="#download">Download</a>
  <a class="nav-item {{ 'underline bg-red-900' if page.url == '/about/' }}" href="#about">About</a>
  <a class="nav-item {{ 'underline bg-red-900' if page.url == '/contact/' }}" href="#contact">Contact</a>
</nav>